.header {
  display: flex;
  align-items: center;      
  justify-content: center;  
  background-color: #dcaad3;
  padding: 10px;
  position: relative;
}

.logo {
  height: 50px;
  position: absolute;
  left: 200px;               
}

.header h1 {
  color: rgb(255, 0, 238);
  margin: 0;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color:#dcaad3;

}

.topnav {
  overflow: hidden;
  background-color: #540442;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


